body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
li{
    text-align: center;
    list-style: none;
}
ul{
    padding: 0;
}

#today-weather{
  #day{
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;

  }
}

#progress-bar{
    height: 30px;
    margin-top: -15px;
    margin-left: 5vw;
    top: 50vh;
    position: absolute;
    width: 90vw;
}

#day-of-week{
    background-color: #f5f5f5;
    height: 100%;
}
#content{
    height: 100vh;

    > .row, .row > div{
    height: 100%;
  }
}

/* start css today-weather div */
#today-weather #today-icon img {
  width: 100%;
    height: auto;
}

#today-icon{
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-align: center;

    img{
      max-height: 100%;
      max-width: 100%;
    }
}

#secondary-data{
    height: 20vh;
    margin-top: 3vh;

    p{
      font-size: 14px;
      margin-bottom: 6px;
    }
}
/* end css today-weather div */

/* start css day-of-week div */
#day-list{

    ul{
      float: left;
      width: 50%;
      li {
        width: 100%;
        height: 0;
        p {
          text-align: center;
          width: 100%;
          margin-bottom: 0px;
          font-size: 14px;
        }
      }
    }
    l

      div, p{
          float: left;
        }

    #day{
      margin-top: 26px;
      font-weight: bold;
    }

    #today-icon{
      height: auto;
      margin: 0px;
      width: 50%;
      float: right;
       img{
         width: 90px;
         float: left;
       }
    }
    #secondary-data{
        display: none;
    }
    #primary-data{
        width: 100%;
        ul li:nth-child(2){
            display: none;
        }
    }

    .row{
        margin-top: 3%;
    }
}
/*end .day-list
/* end css day-of-week div */
